[VERSION]
major = 1
minor = 0

[VIEWS]
eyepoint = -3.95, -0.85, 1.9 ; (feet) longitudinal, lateral, vertical distance from reference datum

;===================== CAMERADEFINITION =====================

[CAMERADEFINITION.0]
Title = "Pilot" ; This is descriptive only, not used by the system
Guid = "{195EAB58-9E4A-1E2A-A34C-A8D9D948F078}" ; Camera definition unique identifier. This GUID must be unique.
Description = "" ; Camera description.
Origin = "Virtual Cockpit" ; Every camera definition must have an origin that defines the object or point on which the camera is oriented.
MomentumEffect = 1 ; Controls whether the camera exhibits momentum effect. This is determined by the settings in the Dynamic Head Movement section.
SnapPbhAdjust = "Swivel" ; These settings control how camera movement is handled when the camera system receives a view pan or �snap to� command.
SnapPbhReturn = 0 ; If true, camera position returns to its initial position when the snap movement command key is released.
PanPbhAdjust = "Swivel" ; Same range of options as snappbhadjust. Always set to Swivel in KH
PanPbhReturn = 0 ; If true, camera position returns to its initial position when the pan movement command key is released.
Track = "None" ; External cameras have the ability to track a user or AI object. The Track parameter controls this behavior.
ShowAxis = "YES" ; Determines whether the axis indicator is shown.
AllowZoom = 1 ; Controls whether the camera responds to zoom commands.
InitialZoom = 0.57 ; [0.0, 512.0] Sets the initial zoom.
SmoothZoomTime = 2 ; [0.0, 30.0] The zoom time in seconds. By default, zooming in and out is �smoothed� by changing between old and new zoom levels over a small time period (5 seconds). This setting enables you to control this effect on a per-camera basis.
ZoomPanScalar = 1 ; [0.0, 100.0] Movement is scaled by dividing the ZoomPanScalar value by the zoom level.
ShowWeather = 1 ; Determines whether weather visuals are shown.
XyzAdjust = 1 ; Controls whether the camera responds to position change commands.
ShowLensFlare = 0 ; Determines whether lens flare effect can be shown (based on user setting).
Category = "Cockpit" ; Every camera definition must include a category that defines how the camera is exposed in the user interface. Categories define the view cycling behavior(S and A keys) as well as the menu structure. Some categories (AirTraffic, Runway, Multiplayer and Tower) can also be instance-based, meaning new cameras are created automatically based on the object type.
SubCategory = "Pilot"
SubCategoryItem = "DefaultPilot"
PitchPanRate = 20 ; [0.0, 100.0] Controls the rate at which pitch is changed in degrees per second.
HeadingPanRate = 60 ; [0.0, 100.0] Controls the rate at which heading is changed in degrees per second.
InitialXyz = 0.05, 0.22, 0.05 ; All values are in meters, -500.0 to 500.0 (for each of the three). Camera XYZ position offset from the default location in meters.
InitialPbh = -3, 0, 0 ; All values are in degrees, -90 to 90.0 (pitch), -180 to 180.0 (bank and heading). Camera pitch, bank and heading orientation offset from the default in degrees. Note that positive pitches give a downward view. Positive headings are to the right.
NodesToHide = "" ; Allows to hide one or several node while showing this camera. This is useful to hide the Yoke in camera instrument, for example.
ClipMode = "0" ; Normal - Minimum - Spot - Tower.
BoundingBoxRadius = 0.1 ; Radius of the Camera in meters: you can use it as a bounding box.

